.bim-filter {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    color: #333;
    cursor: pointer;
    position: relative;
    height: 20px;
    float: right;
    margin-left: 10px;
    padding-left: 5px;
    width: 175px;
    z-index: 999;
    .header {
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            icon {
                width: 20px;
                height: 20px;
            }
        }
        .cd-title {
            width: 56px;
            font-family: Read;
            font-size: 12px;
            font-weight: 500;
        }
        mark {
            background-color: transparent;
            color: #fff;
            float: right;
            left: -20px;
            font-size: .8em;
            position: relative;
            top: 0;
            z-index: 200;
            &::before {
                content: "";
                background-color: #d0011b;
                border-radius: 100%;
                padding: 9px;
                position: absolute;
                left: -3px;
                top: 1px;
                z-index: -1;
            }
        }
        button {
            color: #9b9b9b;
        }
    }
    span {
        margin-left: 2px;
        margin-right: 10px; //position: relative;
        //top: -2px;
        z-index: 200;
        color: black;
        font-size: 14px;
        font-family: Read;
        font-weight: normal;
    }
    .content-time {
        display: block;
        margin-left: 22px;
        margin-right: 10px;
        position: relative;
        top: -8px;
        z-index: 200;
        font-size: .8em;
    }
    .icon-rrf {
        height: 20px;
        position: relative;
        width: 20px;
        z-index: 200;
    }
    fieldset {
        background-color: #fff;
        box-shadow: -3px 8px 19px 0px rgba(135, 135, 135, 1);
        display: block;
        left: 0;
        right: -12px;
        overflow: hidden;
        padding: 50px 2px 5px 0;
        position: absolute;
        opacity: 1;
        top: -11px;
        transition: all .3s ease-in-out;
        &::before {
            content: "";
            display: block;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 20px;
        }
        .list-unstyled {
            padding-left: 3px;
        }
        li {
            color: #000;
            font-size: .8em;
            list-style: none;
            white-space: nowrap;
        }
        input {
            margin: 0 5px;
        }
        label {
            border-left: 3px solid transparent;
            font-size: 14px;
            font-family: Read;
            font-weight: normal;
        }
    }
    .btn-box {
        color: #000;
        display: block;
        font-size: .8em;
        padding: 8px;
        margin: 3px 6px 0 3px;
        width: calc(100% - 6px);
        &[disabled] {
            color: #fff;
            background-color: #b4b4b4;
        }
    }
    * {
        vertical-align: middle;
        transition: all .3s ease-in-out;
    }
}