
    <div class="row">
        <div class="col-md-3">
            <select class="roles form-control" [(ngModel)]="rolesFilters[0]" (change)="update()">
                <option value="" translate>
                    COMMON.ALL
                </option>
                <option *ngFor="let roleId of (roles | keys)" [(ngValue)]="roles[roleId].id">
                    {{roles[roleId].label | translate}}
                </option>
            </select>
        </div>
    </div>

    <div class="users row">
        <div class="card user" *ngFor="let user of filteredUsers">
            <user-card [user]="user" (click)="goToUserView(user)"></user-card>
        </div>
        <div class="card add-user" (click)="goToUserCreate()">
            <icon ref="icon-plus"></icon>
        </div>
    </div>