<div class="bim-tab row">

    <div class="controls col-md-4 col-lg-3">
        <ul class="legends list-unstyled">
            <li>
                <i class="circle-reference"
                   [style.background-color]="colorService.get('WITH_SUPPLIER_DEDUCTION_CODE')">
                </i>
                <span translate>DB.WITH_SUPPLIER_PANEL_TAB</span>
            </li>
            <li>
                <i class="circle-reference"
                   [style.background-color]="colorService.get('WITHOUT_SUPPLIER_DEDUCTION_CODE')">
                </i>
                <span translate>DB.WITHOUT_SUPPLIER_PANEL_TAB</span>
            </li>
        </ul>
    </div>

    <div class="chart col-md-8 col-lg-9">
        <div class="ie11-svg-wrapper">
            <pie [data]="currentData"
                 width="1200"
                 height="1000"
                 radius="300"
                 inner-radius="0.75"
                 outer-radius="1">
            </pie>
        </div>
    </div>

    <footer>
        <div class="selectors col-md-6">
            <drg-unit-selector [(ngModel)]="unit"
                               (change)="onUnitChange($event)">
            </drg-unit-selector>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn-box"
                    (click)="goToBimAssistant()"
                    translate>DB.DISPLAY_BUTTON</button>
        </div>
    </footer>

</div>