
    <div class="bim-datepicker">
        <div class="bim-month">

            <ng-container *ngFor="let month of months; let i=index;">
                <div class="month"
                    (click)="selectedMonth === undefined && disabled === false && onMonthClick(i)" 
                    [class.disabled]="disabled === true || (selectedMonth !== undefined && i !== selectedMonth)"
                    [class.selected]="selectedMonth === i">
                    {{('BA.DATE_' + month + '_MONTH') | translate}}                    
                </div>
                
                <ng-container *ngIf="(i+1) % 3 === 0">
                    <div class="bim-year" 
                        *ngIf="selectedMonth === i || selectedMonth === i-1 || selectedMonth === i-2">
                        <time *ngFor="let year of years" 
                            [attr.datetime]="year" 
                            (click)="onYearClick(year)"
                            [class.active]="selectedYear === year">
                            {{year}}
                        </time>
                    </div>
                </ng-container>

            </ng-container>

        </div>
    </div>