#delete-user-modal {
    padding: 20px;
}

#delete-user-modal h2 {
    font-family: Read;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 20px 0 20px 0;
}

#delete-user-modal p {
    font-family: Read;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}