$font-family: 'Muli',
'sans-serif';
$font-family-Renault: 'RenaultLife',
'sans-serif';
$bn-grid-width: 60px;

/* COLORS 
 *****************/

$color-theme: #fFCC33;
$color-grey: #9b9b9b;
$brand-primary: $color-theme;
$brand-success: #9fc983;
$brand-warning: #FF8813;
$brand-danger: #d90005;
// Roles
$color-prf: #ffcb00;
$color-admin: #2ca5a4;
$color-supplier: #ff8c46;
$color-partner: #006cab;
$color-prf-int: #eadc00;
$color-incident: #28485a;
$color-consult: #8f4d52;
$color-ots: #0088af;